---
import "../styles/stylesheet.css";
import MainLayout from "../layout/MainLayout.astro";
import Card from "../components/Card.astro";


---


<MainLayout title="About Us">
        <h2>Her er about us</h2>
        <Card header="Cykel"/>
        <Card header="Bil"/>
        <Card header="Rulleskøjter"/>
        <Card header="Båd"/>
    </MainLayout>
